Source: libmicrohttpd
Section: main/libs
Priority: optional
Maintainer: Daniel Baumann <daniel@debian.org>
Uploaders: Arnaud Kyheng <Arnaud.Kyheng@free.fr>
Build-Depends: debhelper (>= 5), autotools-dev
Standards-Version: 3.8.0
Homepage: http://www.gnunet.org/
Vcs-Browser: http://git.debian.net/?p=libmicrohttpd.git
Vcs-Git: git://git.debian.net/git/libmicrohttpd.git

Package: libmicrohttpd4
Section: main/libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: library embedding HTTP server functionality
 libmicrohttpd is a small C library for embedding HTTP server functionality into
 applications.
 .
 It will be used in future GNUnet versions as part of the HTTP transport.

Package: libmicrohttpd-dbg
Section: main/devel
Priority: extra
Architecture: any
Depends: libmicrohttpd4 (= ${binary:Version}), libmicrohttpd-dev (= ${binary:Version})
Description: library embedding HTTP server functionality (debug)
 libmicrohttpd is a small C library for embedding HTTP server functionality into
 applications.
 .
 This package contains the debugging symbols.

Package: libmicrohttpd-dev
Section: main/libdevel
Architecture: any
Depends: libmicrohttpd4 (= ${binary:Version})
Description: library embedding HTTP server functionality (development)
 libmicrohttpd is a small C library for embedding HTTP server functionality into
 applications.
 .
 This package contains the development files.
