Source: libwww-mechanize-ruby
Section: libs
Priority: extra
Maintainer: Ari Pollak <ari@debian.org>
Uploaders: Debian Ruby Extras Maintainers <pkg-ruby-extras-maintainers@lists.alioth.debian.org>
Build-Depends: cdbs, debhelper (>= 5), ruby-pkg-tools (>= 0.8), graphviz
Standards-Version: 3.7.2
Homepage: http://mechanize.rubyforge.org

Package: libwww-mechanize-ruby
Architecture: all
Depends: libwww-mechanize-ruby1.8
Suggests: libwww-mechanize-ruby-doc
Description: Ruby library to automate interaction with websites
 The WWW::Mechanize library is used for automating interaction with websites.
 Mechanize automatically stores and sends cookies, follows redirects, can
 follow links, and submit forms. Form fields can be populated and submitted.
 Mechanize also keeps track of the sites that you have visited as a history.
 This library is loosely based on WWW::Mechanize for Perl.
 .
 This is a dependency package which depends on Debian's default Ruby version
 (currently 1.8).

Package: libwww-mechanize-ruby1.8
Architecture: all
Depends: ruby1.8, libhpricot-ruby1.8 (>= 0.5-1), libopenssl-ruby1.8
Suggests: libwww-mechanize-ruby-doc
Description: Automate interaction with websites (Ruby 1.8)
 The WWW::Mechanize library is used for automating interaction with websites.
 Mechanize automatically stores and sends cookies, follows redirects, can
 follow links, and submit forms. Form fields can be populated and submitted.
 Mechanize also keeps track of the sites that you have visited as a history.
 This library is loosely based on WWW::Mechanize for Perl.
 .
 This package is built for Ruby 1.8.

Package: libwww-mechanize-ruby1.9
Architecture: all
Depends: ruby1.9, libhpricot-ruby1.9 (>= 0.5-1), libopenssl-ruby1.9
Suggests: libwww-mechanize-ruby-doc
Description: Automate interaction with websites (Ruby 1.9)
 The WWW::Mechanize library is used for automating interaction with websites.
 Mechanize automatically stores and sends cookies, follows redirects, can
 follow links, and submit forms. Form fields can be populated and submitted.
 Mechanize also keeps track of the sites that you have visited as a history.
 This library is loosely based on WWW::Mechanize for Perl.
 .
 This package is built for Ruby 1.9.

Package: libwww-mechanize-ruby-doc
Section: doc
Architecture: all
Depends: libwww-mechanize-ruby
Description: Documentation for libwww-mechanize-ruby
 This package provides generated HTML documentation for libwww-mechanize-ruby.
 .
 The WWW::Mechanize library is used for automating interaction with websites.
 Mechanize automatically stores and sends cookies, follows redirects, can
 follow links, and submit forms. Form fields can be populated and submitted.
 Mechanize also keeps track of the sites that you have visited as a history.
 This library is loosely based on WWW::Mechanize for Perl.
