Source: virtualbox-ose
Section: misc
Priority: extra
Maintainer: Sebastien Delafond <seb@untangle.com>
Build-Depends: debhelper (>= 5.0.44~), dpatch, kbuild
Standards-Version: 3.8.0
Homepage: http://www.virtualbox.org/
Vcs-Svn: svn://svn.debian.org/svn/pkg-virtualbox/trunk
Vcs-Browser: http://svn.debian.org/wsvn/pkg-virtualbox/trunk

Package: virtualbox-ose-guest-source
Architecture: all
Depends: ${misc:Depends}, debhelper (>= 5), dpatch, bzip2, kbuild
Recommends: module-assistant
Description: x86 virtualization solution - guest addition module source
 VirtualBox is a free x86 virtualization solution allowing a wide range
 of x86 operating systems such as Windows, DOS, BSD or Linux to run on a
 Linux system.
 .
 This package provides the source code for the virtualbox guest addition kernel
 modules. The virtualbox-ose-guest-utils package is also required in order to
 make use of these modules. Kernel sources or headers are required to compile
 these modules.
