Source: libjson
Section: upstream/libs
Priority: optional
Maintainer: Robert Scott <rbscott@untangle.com>
Uploaders: Untangle Buildbot <buildbot@untangle.com>
Build-Depends: debhelper (>= 4.2), gcc (>= 3.4), automake, pkg-config, libtool
Standards-Version: 3.8.0

Package: libjson0
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: C JSON Library
 libjson is a small C library for parsing and serializing JSON.

Package: libjson-dev
Section: upstream/libdevel
Architecture: any
Depends: libjson0 (= ${binary:Version}), ${misc:Depends}
Description: C JSON Library header files.
 libjson is a small C library for parsing and serializing JSON.
 This package contains the development files.
