#!/usr/bin/make -f

include /usr/share/cdbs/1/rules/debhelper.mk
include /usr/share/cdbs/1/class/autotools.mk
include /usr/share/cdbs/1/rules/dpatch.mk
include /usr/share/dpatch/dpatch.make

DESTDIR=$(CURDIR)/debian/xdialog
UPSTREAM=$(shell dpkg-parsechangelog|grep -e " xdialog \(.\).*"|cut -d" " -f 3|sed -e "s/(//"|sed -e "s/)//"|cut -d- -f 1)

DEB_INSTALL_MANPAGES_xdialog := doc/Xdialog.1
DEB_INSTALL_CHANGELOGS_ALL := ChangeLog
DEB_INSTALL_DOCS_ALL := BUGS
DEB_INSTALL_EXAMPLES_xdialog := samples/*
DEB_COMPRESS_EXCLUDE := .html .png .xpm kernel
DEB_CONFIGURE_EXTRA_FLAGS := --with-gtk2

binary-install/xdialog::
	mv $(DESTDIR)/usr/share/doc/Xdialog-$(UPSTREAM) $(DESTDIR)/usr/share/doc/xdialog/html
	#dh_compress -X.html -X.png -X.xpm -X.kernel 
	##$(DESTDIR)/usr/share/doc/xdialog/*
