#!/bin/sh

set -e

action=$1
version=$2

. /usr/share/debconf/confmodule

if [ -r /etc/default/miniupnpd ] ; then
	. /etc/default/miniupnpd
else
	if [ -r /usr/share/miniupnpd/miniupnpd.default ] ; then
		if ! [ -e /etc/default/miniupnpd ] ; then
			cp /usr/share/miniupnpd/miniupnpd.default /etc/default/miniupnpd
		fi
	fi
fi

if [ -n "${MiniUPnPd_EXTERNAL_INTERFACE}" ] ; then
	# Use in debconf whatever is set in the default file, if set
	db_set miniupnpd/iface ${MiniUPnPd_EXTERNAL_INTERFACE}
else
	# If no interface is defined, try to find one automatically
	GUESSED_IFACE=`LC_ALL=C /sbin/route | grep default | awk -- '{ print $8 }'`
	if [ -n "${GUESSED_IFACE}" ] ; then
		db_set miniupnpd/iface ${GUESSED_IFACE}
		MiniUPnPd_EXTERNAL_INTERFACE=${GUESSED_IFACE}
	else
		# If none found, then we shouldn't start the daemon.
		START_DAEMON=0
	fi
fi

if [ -n "${MiniUPnPd_LISTENING_IP}" ] ; then
	db_set miniupnpd/listen ${MiniUPnPd_LISTENING_IP}
else
	START_DAEMON=0
fi

if [ -z "${START_DAEMON}" ] ; then
	START_DAEMON=0
fi
if [ "${START_DAEMON}" = 0 ] ; then
	db_set miniupnpd/start_daemon false
else
	START_DAEMON=1
	db_set miniupnpd/start_daemon true
fi

if [ "${MiniUPnPd_ip6tables_enable}" = "yes" ] ; then
	db_set miniupnpd/ip6script true
else
	db_set miniupnpd/ip6script false
fi

db_input high miniupnpd/start_daemon || true
db_input high miniupnpd/iface || true
db_input high miniupnpd/listen || true
db_input low miniupnpd/ip6script || true
db_go

exit 0
