Package: libjson-dev
Source: libjson
Version: 0.7-1
Architecture: i386
Maintainer: Robert Scott <rbscott@untangle.com>
Installed-Size: 124
Depends: libc6 (>= 2.3.2.ds1-21), pkg-config
Section: upstream/libdevel
Priority: optional
Description: C JSON Library header files.
 libjson is a small C library for parsing and serializing JSON.
 This package contains the development files.
