Source: libgettext-ruby
Section: interpreters
Priority: optional
Maintainer: Tatsuki Sugiura <sugi@nemui.org>
Build-Depends: debhelper (>> 4.0.0), cdbs (>= 0.4.26-2), dpatch
Build-Depends-Indep: ruby1.8 (>= 1.8.2), ruby1.8-dev, racc (>= 1.4.3), libracc-runtime-ruby1.8 | libruby1.8 (>= 1.4.3), rake, irb1.8
Standards-Version: 3.7.3.0
Uploaders: Taku YASUI <tach@debian.or.jp>

Package: libgettext-ruby1.8
Provides: libgettext-ruby
Architecture: all
Depends: irb1.8, ${shlibs:Depends}
Conflicts: libgettext-ruby (<= 0.8.1-2), apt-listbugs (<= 0.0.86)
Replaces: libgettext-ruby (<= 0.8.1-2)
Suggests: libgettext-ruby-util, libgettext-ruby-data
Description: Gettext for ruby1.8
 Ruby GetText Package is Native Language Support Library and Tools 
 which modeled after GNU gettext package.
 .
 Features:
   * Simple APIs(similar GNU gettext)
   * rgettext creates po-files from ruby scripts.
     The po-file is compatible to GNU gettext.
   * rmsgfmt creates a mo-file from a po-file.

Package: libgettext-ruby-util
Architecture: all
Depends: libgettext-ruby1.8 (>= ${source:Version}), ruby1.8, gettext (>= 0.10.35)
Description: Gettext utilities for ruby
 Ruby GetText Package is Native Language Support Library and Tools 
 which modeled after GNU gettext package.
 .
 libgettext-ruby-util includes rgettext, rmsgfmt and rmsgmerge to
 maintain your message catalog.
 .
 Features:
   * Simple APIs(similar GNU gettext)
   * rgettext creates po-files from ruby scripts.
     The po-file is compatible to GNU gettext.
   * rmsgfmt creates a mo-file from a po-file.

Package: libgettext-ruby-data
Architecture: all
Recommends: libgettext-ruby | libbettext-ruby1.8 (>= ${source:Version})
Conflicts: libgettext-ruby1.8 (< 1.10.0-1)
Description: Data files for ruby gettext library
 Ruby GetText Package is Native Language Support Library and Tools 
 which modeled after GNU gettext package.
 .
 libgettext-ruby-data includes documents, examples and message catalog
 for Ruby on Rails.
 .
 Features:
   * Simple APIs(similar GNU gettext)
   * rgettext creates po-files from ruby scripts.
     The po-file is compatible to GNU gettext.
   * rmsgfmt creates a mo-file from a po-file.
