Package: libjson0
Source: libjson
Version: 0.7-1
Architecture: i386
Maintainer: Robert Scott <rbscott@untangle.com>
Installed-Size: 72
Depends: libc6 (>= 2.7-1)
Section: upstream/libs
Priority: optional
Description: C JSON Library
 libjson is a small C library for parsing and serializing JSON.
